<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/float-grid.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../../js/index.js"></script>

    <script src="../../js/svg-with-js/js/fontawesome-all.js"></script>

    <div class="main-content">
        <!-- Begin Top navigation -->
        <nav class="top-nav js-top-nav">
            <ul>
                <a href="/" class="left">
                    <div class="logo-home">Mindstarter</div>
                </a>

                <li>
                    <a href="/login" class="openLogin js-openLogin right">Sign In</a>
                </li>
                <li>
                    <a href="/signout" class="signout">Sign Out</a>
                </li>
            </ul>
        </nav>
        <div class="new-project-icon">
            <a href="/new_project" class="new-project js-new-project">+</a>
        </div>
        <!-- End Top Navigation -->

        <!-- Begin Left Navigation -->
        <nav class="left-nav js-left-nav">
            <ul>
                <li class="nav-icon project-icon">
                    <a href="/user/profile">
                        <i class="fas fa-circle-notch fa-lg circle-notch"></i>
                    </a>
                </li>
                <li class="nav-icon account-icon">
                    <a href="/user/account">
                        <i class="fas fa-user-circle fa-lg"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Left Navigation -->

        <!-- Begin Project Navigation-->
        <nav class="project-nav">

            <ul>

                <a href="/" class="left">
                    <div class="logo">Mindstarter</div>
                </a>

                <li>
                    <a href="/signout" class="signout">Sign Out</a>
                </li>
                <li>

                </li>
            </ul>

        </nav>
        <!-- End Project Navigation -->

        <!-- Begin top header -->
        <div class="top js-top">
            <h1>
                <div class="tagline">Mindstarter,
                    <span class="jumpstart">jumpstart</span> your mind.</div>
            </h1>
            <div class="centerpiece">
                <div class="brain">
                    <img src="/images/colorful-brain-map-vector-clipart.png" width=25% height=25%/>
                </div>
                <div class="dot">
                    <a href="/signup" class="get-started">Get Started</a>
                </div>
            </div>
        </div>
        <!-- End top header -->

        <!-- begin About Mindstarter cards  -->
        <div class="cards js-cards col-12">
            <div class="atom col-4">
                <img src="/images/Atom-1472657.png" alt="atom with electrons in elliptical orbit" width=27% height=27% />
                <span class="card-text brainstorming">visual
                    <br>brainstorming</span>
            </div>
            <div class="gears col-4">
                <img src="/images/mechanics-2170648_640.png" alt="clolorful gears" width=55% height=55% />
                <span class="card-text life">bring your
                    <br>words to life</span>
            </div>
            <div class="ball-collage col-4">
                <img src="/images/Colorful-Circle-Fractal.png" alt="colorful circle fractal" width=30% height=30% />
                <span class="card-text possibilities">endless
                    <br>possibilities</span>
            </div>
        </div>
        <!-- end About Mindstarter cards -->

        <!-- begin project page template -->
        <div class="mindstarter-container js-mindstarter-container">
            <div class="project-container">
                <div class="project-form">
                    <form class="new-project-form js-project-form" action="/user/:userId/project" method="post">
                        <fieldset>
                            <legend class="form-heading">New Project</legend>
                            <div class="project-form-line-1">
                                <label for "project_name">Project Name</label>
                                <input class="project js-project" type="text" name="project_name" placeholder="Enter a Project Name">
                                <label for "starter_word">Word</label>
                                <input class="idea js-idea" type="text" name="idea_word" placeholder="Enter a Starting Word">
                            </div>
                            <br>
                            <div class="project-form-line-2">
                                <label for "relationship_type">Relationship</label>
                                <select class="relationship js-relationship" name="relationship_type">
                                    <option value="ml">Means Like</option>
                                    <option value="sel_hom">Sounds Like</option>
                                    <option value="sp">Spelled Like</option>
                                    <option value="rel_syn">Synonym</option>
                                    <option value="rel_ant">Antonym</option>
                                    <option value="rel_rhy">Rhymes With</option>
                                </select>
                                <label for "depth">Depth</label>
                                <select class="depth js-depth" name="depth">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option Value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <input id="save" type="submit" value="Save" />
                            </div>

                        </fieldset>
                    </form>
                    <!-- update project -->
                    <form class="update-project js-update-project" id="update-project" action="/user/:userId/project" method="post">
                        <fieldset>
                            <legend class="form-heading">Project</legend>
                            <div class="project-form-line-1">
                                <label for "project_name">Project Name</label>
                                <input class="project js-project" type="text" name="project_name" placeholder="Enter a Project Name">
                                <label for "starter_word">Word</label>
                                <input class="idea js-idea" type="text" name="idea_word" placeholder="Enter a Starting Word">
                            </div>
                            <br>
                            <div class="project-form-line-2">
                                <label for "relationship_type">Relationship</label>
                                <select class="relationship js-relationship" name="relationship_type">
                                    <option value="ml">Means Like</option>
                                    <option value="sel_hom">Sounds Like</option>
                                    <option value="sp">Spelled Like</option>
                                    <option value="rel_syn">Synonym</option>
                                    <option value="rel_ant">Antonym</option>
                                    <option value="rel_rhy">Rhymes With</option>
                                </select>
                                <label for "depth">Depth</label>
                                <select class="depth js-depth" name="depth">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option Value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <button id="update" type="submit" value="Update">Update</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="mindsphere">
                    <h1>
                        <div class="project-title js-project-title"></div>
                    </h1>
                    <div class="project-response js-project-response"></div>
                    <svg class="mindstarter-project" width="960" height="960"></svg>
                </div>
            </div>
            <div class="right-title">
                <div class="project-right-title">Projects</div>
                <div class="project-right-icon-bg">
                    <div class="count"></div>
                </div>
            </div>
            <div class="projects-list">
                <div class="project-item">
                </div>
            </div>
        </div>
    </div>
    <!-- end project page template-->

    <!-- Begin Login Modal -->
    <div class="loginModal">

        <!-- Modal Content -->
        <div class="loginModal-content">
            <span class="close">&times;</span>
            <form action="/api/auth/login" class="login js-login" method="post">
                <fieldset>
                    <legend class="login-title js-login-title">Login</legend>
                    <label for "username">Username:</label>
                    <br>
                    <input type="text" name="username" class="user js-user" value="Username">
                    <br>
                    <label for "password"Password:></label>
                    <br>
                    <input type="password" name="password" value="Password">
                    <br>
                    <br>
                    <input type="submit" class="loginSubmit js-loginSubmit" value="Submit">
                </fieldset>
            </form>
        </div>
        <div class="create-account-success js-create-account-success"></div>
    </div>
    <!-- End Login Modal -->

    <!-- Begin Signup Modal -->
    <div class="signupModal">
        <!-- Modal Content -->
        <div class="signupModal-content">
            <span class="close">&times;</span>
            <div class="signup-form">
                <form class="signup js-signup" action="/api/users" method="post">
                    <fieldset>
                        <legend class="form-heading">Signup</legend>
                        <label for "username">Username:</label>
                        <br>
                        <input type="text" class="username js-signup-username" name="username" value="Username">
                        <br>
                        <label for "password">Password:</label>
                        <br>
                        <input type="password" name="password" class="password js-signup-password" value="Password">
                        <br>
                        <label for "confirm-password">Confirm Password:</label>
                        <br>
                        <input type="password" name="confirm-password" class="password-confirm js-signup-password-confirm" value="Password-Confirm">
                        <br>
                        <input type="submit" value="Submit">
                    </fieldset>
                </form>
                <div class="signup-message js-signup-message"></div>
            </div>
        </div>
    </div>
    <!-- End Signup Modal -->
    <!-- Begin Project Options Dropdown -->
    <div class="project-options-dropdown">
        <div id="myDropdown" class="dropdown-content">
            <a href="#" class="load-project">Load Project</a>
            <a href="#" class="delete-project=">Delete Project</a>
        </div>
    </div>
    <!-- End Project Options Dropdown -->
    </div>
</body>

</html>