<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/float-grid.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />

<!-- Login Modal -->
<div id="loginModal" class="modal">

    <!-- Modal Content -->
    <div class="loginModal-content">
        <span class="close">&times;</span>
        <form action="/api/auth/login" class="login js-login" method="post">
            <fieldset>
                <legend>Login:</legend>
                <label for "username">Username:</label>
                <br>
                <input type="text" name="username" id="username" value="Username">
                <br> 
                <label for "password"Password:></label>
                <br>
                <input type="password" name="password" id="password" value="Password">
                <br>
                <br>
                <input type="submit" class="loginSubmit js-loginSubmit" value="Submit">
            </fieldset>
        </form>
    </div>

</div>

    <nav class="top-nav">

        <ul>
                <a href="/" class="left">
                    <div class="logo-home">Mindstarter</div>
                </a>
    
                <li>
                    <a href="/login" id="openLogin" class="right">Sign In</a>
                </li>
        </ul>

    </nav>

    <div class="top">
        <h1>
            <div class="tagline">Mindstarter,
                <span class="jumpstart">jumpstart</span> your mind.</div>
        </h1>
        <div class="centerpiece">
            <div class="brain">
                <img src="/images/colorful-brain-map-vector-clipart.png" width=25% height=25%/>
            </div>
            <div class="dot">
                <a href="/signup" class="get-started">Get Started</a>
            </div>
        </div>
    </div>

    <div class="cards col-12">
        <div class="atom col-4">
            <img src="/images/Atom-1472657.png" alt="atom with electrons in elliptical orbit" width=27% height=27% />
            <span class="card-text brainstorming">visual</br>brainstorming</span>
        </div>
        <div class="gears col-4">
            <img src="/images/mechanics-2170648_640.png" alt="clolorful gears" width=55% height=55% />
            <span class="card-text life">bring your</br>words to life</span>
        </div>
        <div class="ball-collage col-4">
            <img src="/images/Colorful-Circle-Fractal.png" alt="colorful circle fractal" width=30% height=30% />
            <span class="card-text possibilities">endless</br>possibilities</span>
        </div>
    </div>
</body>

</html>