<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/float-grid.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <nav>

        <ul>
            <left>
                <logo>Mindstarter</logo>
            </left>
            <right>
                <li>
                </li>
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
                <li>
                    <a href="/login">Log In</a>
                </li>
            </right>
        </ul>

    </nav>
    <br>


    <form action="/api/auth/login" class="login js-login" method="post">
        <fieldset>
            <legend>Login:</legend>
            <label for "username">Username:</label>
            <br>
            <input type="text" name="username" id="username" value="Username">
            <br> 
            <label for "password"Password:></label>
            <br>
            <input type="password" name="password" id="password" value="Password">
            <br>
            <br>
            <input type="submit" class="loginSubmit js-loginSubmit" value="Submit">
        </fieldset>
    </form>
</body>

</html>