<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/float-grid.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
    <nav class="top-nav">
            
                    <ul>
                            <a href="/" class="left">
                                <div class="logo-home">Mindstarter</div>
                            </a>
                
                    </ul>
            
                </nav>
            
                <div class="top">
                    <h1>
                        <div class="tagline">Mindstarter,
                            <span class="jumpstart">jumpstart</span> your mind.</div>
                    </h1>
                    <div class="centerpiece">
                        <div class="brain">
                            <img src="/images/colorful-brain-map-vector-clipart.png" width=25% height=25%/>
                        </div>
                        <div class="dot">
                            <a href="/signup" class="get-started">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="login-form">
    <form action="/api/auth/login" class="login js-login" method="post">
        <fieldset>
            <legend class="form-heading">Login</legend>
            <label for "username">Username:</label>
            <br>
            <input type="text" name="username" id="username" value="Username">
            <br> 
            <label for "password">Password:</label>
            <br>
            <input type="password" name="password" id="password" value="Password">
            <br>
            <br>
            <input type="submit" class="loginSubmit js-loginSubmit" value="Submit">
        </fieldset>
    </form>
    </div>
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="../../js/index.js"></script>
</body>

</html>