<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!-- <html class="no-js"> -->
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script> 
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../../js/index.js"></script>
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
      </script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"> -->
    <!-- </script> -->
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- <link rel="stylesheet" type="text/css" href="../../css/float-grid.css" /> -->
    <link rel="stylesheet" type="text/css" href="../../css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../../css/project.css" />

    <nav>

        <ul>
            <left>
                <logo>Mindstarter</logo>
            </left>
            <right>
                <li>
                    <a href="/account">Account</a>
                </li>
            </right>
        </ul>

    </nav>
    <br>

    <form onsubmit="return false;" class="project-form js-project-form" id="project-form" action="/user/:userId/project" method="post">
        <fieldset>
            <legend>New Project</legend>
            <label for "project_name">Project Name</label>
            <input class="project js-project"type="text" name="project_name" id="project_name" placeholder="Enter a Project Name">
            <label for "starter_word">Word</label>
            <input class="idea js-idea" type="text" name="idea_word" id="idea_word" placeholder="Enter a Starting Word">
            <label for "relationship_type">Relationship</label>
            <select class="relationship js-relationship" name="relationship_type">
                
                <option value="ml">Means Like</option>
                <option value="sel_hom">Sounds Like</option>
                <option value="sp">Spelled Like</option>
                <option value="rel_syn">Synonym</option>
                <option value="rel_ant">Antonym</option>
                <option value="rel_rhy">Rhymes With</option>

            </select>
            <label for "depth">Depth</label>
            <select class="depth js-depth" name="depth">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option Value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <input id="save" type="submit" value="Save"/>
            <!-- <button id="update" type="submit" value="Update">Update</button> -->
        </fieldset>
    </form>


    <form onsubmit="return false;" class="update-project js-update-project" id="update-project" action="/user/:userId/project" method="post">
        <fieldset>
            <legend>New Project</legend>
            <label for "project_name">Project Name</label>
            <input class="project js-project"type="text" name="project_name" id="project_name" placeholder="Enter a Project Name">
            <label for "starter_word">Word</label>
            <input class="idea js-idea" type="text" name="idea_word" id="idea_word" placeholder="Enter a Starting Word">
            <label for "relationship_type">Relationship</label>
            <select class="relationship js-relationship" name="relationship_type">
                
                <option value="ml">Means Like</option>
                <option value="sel_hom">Sounds Like</option>
                <option value="sp">Spelled Like</option>
                <option value="rel_syn">Synonym</option>
                <option value="rel_ant">Antonym</option>
                <option value="rel_rhy">Rhymes With</option>

            </select>
            <label for "depth">Depth</label>
            <select class="depth js-depth" name="depth">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option Value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <button id="update" type="submit" value="Update">Update</button>
        </fieldset>
    </form>

    <h1><div class="project-title js-project-title"></div></h1>
    <div class="project-response js-project-response"></div>
   
    <p><svg width="960" height="960"> <div class="node--leaf"></i></div></svg></p>
    
</body>

</html>