nav logo {
    text-align: left;
    width: auto;
}

nav {
    /* position: fixed; */
    /* display: inline; */
    
}

nav ul right {
    /* position: relative; */
    /* left: 200px; */
    float: right;
}

nav ul left {
    float: left;
}

nav li {
    padding: 10px;
    /* text-align: right; */
    display: inline;
}
.project-response {
    width: auto;
}

.node {
    cursor: pointer;
  }
  
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
  .node--leaf {
    fill: white;
  }
  
  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
  
  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }

